a,
button {
    margin: 20px;
    ;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a,
button {
    background-color: #3498db;
}

a:hover,
button:hover {
    background-color: #2980b9;
}